#bloc-page
{
    background-color: black;
    width: 1350px;
    margin: auto;
}
#bloc-page a:hover
{
    color: #fff;
}
#headring
{
    width: 100%;
    height: 50%;
}
#logo
{
    margin-top: -9rem;
    width: 301px;
    height: 169px;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -32rem; 
    
    
}
.navbar a
{
    margin-right: 45px;
    margin-top: -7rem;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #F2EA1F;
   
}
.main
{
    display: flex;
    flex-direction: column ;
}
#titre
{
    margin-top: 32rem;
    color:#F2EA1F ;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    text-align: center;
}
.main p
{
    color:#FFF ;
    font-family: 'Raleway', sans-serif;
    font-size: 84px;
    text-align: center;  
}
.footer
{
    display: flex;
    margin-top: 15%;
    
}
.footer p
{
    color: #C4C4C4;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    margin-left: 7em;
}
.footer a
{
    font-size: 50px;
    margin-top: 0.7em;
}
#fb
{
    margin-left: 7%;
    color: #FD7E14;
}
#insta
{
    color: #F783AC;
    margin-left: 1em;
    margin-right: 1em;
}
#youtube
{
    color: #4C6EF5;
}
@media only screen and (max-width: 1200px)
{
    #bloc-page
    {
        width: 800px;
        margin: auto;  
    }
    #logo
    {
        width: 200px;
        height: 150px;
    }
    .navbar
    {
        margin-top: -16rem;
    }
    .navbar a
    {
        font-size: 25px;
        margin-right: 25px;
    }
  
    #titre
    {
        margin-top: 5em;
        font-size: 52px;
    }
    .main p
    {
        font-size: 40px;
    }
    .footer p
    {
        font-size: 30px;
        margin-left: 5em;
    }
    .footer a
    {
        font-size: 2em;
    }
    #fb
    {
        margin-left: 1em;
    }
}
@media only screen and (max-width: 600px)
{
    #bloc-page
    {
        width: 400px;
        margin: auto;  
    }
    #logo
    {
        width: 100px;
        height: 75px;
    }
    .navbar
    {
        margin-top: -4rem;
    }
    .navbar a
    {
        font-size: 12px;
        margin-right: 12px;
    }
  
    #titre
    {
        margin-top: 3em;
        font-size: 26px;
    }
    .main p
    {
        font-size: 20px;
    }
    .footer p
    {
        font-size: 15px;
        margin-left: 2.5em;
    }
    .footer a
    {
        font-size: 1em;
    }
    #fb
    {
        margin-left: 1em;
    }
    
@media only screen and (max-width: 300px)
{
    #bloc-page
    {
        width: 200px;
        margin: auto;  
    }
    #logo
    {
        width: 50px;
        height: 35px;
    }
    .navbar
    {
        margin-top: 3rem;
    }
    .navbar a
    {
        margin-top: -133px;
        font-size: 6px;
        margin-right: 6px;
    }
  
    #titre
    {
        margin-top: -40px;
        font-size: 13px;
    }
    .main p
    {
        font-size: 10px;
    }
    .footer p
    {
        font-size: 8px;
        margin-left: 1em;
    }
    .footer a
    {
        font-size: 1em;
    }
    #fb
    {
        margin-left: 1em;
    }
}
}
