body { background-color:black;
width: 1350px;
margin: auto; }

#nav-bar
{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -37rem;    
 }
#nav-bar a
{ margin-top: -7rem;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #F2EA1F;
}


    .main

    {
         padding: 100px;
         margin-top: 25rem;
    color: white;
    text-align: center;
    font-family:'Raleway',sans-serif ;
}
    #logo

    {
        margin-top: -9rem;
        width: 301px;
        height: 169px;
    text-align: left;  }

    #ftr

    { 
        color:yellow ; 

         font-size: 90px;
        
    }
    #rouge
    { color: red;
        font-size: 75px;

    }
    #blan{
        font-size: 74px;
    }
    #article{ font-size: 57px;}
    .footer
{
    display: flex;
    
}
.footer p
{
    color: #C4C4C4;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    margin-left: 7em;
}
.footer a
{
    font-size: 50px;
    margin-top: 0.7em;
}
#fb
{
    margin-left: 7%;
    color: #FD7E14;
}
#insta
{
    color: #F783AC;
    margin-left: 1em;
    margin-right: 1em;
}
#youtube
{
    color: #4C6EF5;
}
        